.star {
  transition: transform 0.2s;
}

.star:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* Custom animation for the beating effect */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to elements */
.animate-beat {
  animation: beat 5s ease-in-out infinite;
}
