

.star {
  transition: transform 0.2s;
}

.star:hover {
  transform: scale(1.5);
  cursor: pointer;
}
/* Custom animation for the beating effect */
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Apply the animation to elements */
.animate-beat {
  animation: beat 5s ease-in-out infinite;
}



.fade-in {
  opacity: 0;
  transform: scale(0.8) rotate(5deg); /* Start with a smaller and slightly rotated state */
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Ease-out morph effect */
}

.fade-in.visible {
  opacity: 1;
  transform: scale(1) rotate(0); /* Full size and aligned */
}
/* Apply a custom scrollbar to the entire document */
::-webkit-scrollbar {
  width: 4px;
}

/* Customize the scrollbar thumb (the part that you drag) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(214, 214, 215));
  border-radius: 10px;
}

/* Add a style to the scrollbar track (the area the thumb slides in) */
::-webkit-scrollbar-track {
  background: #000000;  /* Light gray background for the track */
  border-radius: 10px;
}

/* Optional: Add hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(233, 233, 233));
}
