@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* In src/index.css or your global CSS file */
@layer utilities {
  .tilt {
    transition: transform 0.3s ease-in-out;
    perspective: 1000px;
  }

  .tilt:hover {
    transform: rotateY(10deg) rotateX(10deg);
  }
}

@font-face {
  font-family: "TESLA";
  src: url("/TESLA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "trench";
  src: url("/Trench.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "dune";
  src: url("/dune.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "space";
  src: url("/space.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "conthrax";
  src: url("/conthrax.woff2") format("truetype"); /* Adjust the path and format if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NASA";
  src: url("/nasa.woff2") format("woff2"); /* Adjust the path and format if needed */
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.text-teal-400 {
  transition: color 0.3s ease-in-out;
}
.text-teal-400:hover {
  color: #14b8a6;
}
.video:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}
pre:hover {
  background-color: #374151;
  transform: scale(1.05);
}

/* index.css */

/* Existing CSS */

/* Timeline CSS */
.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  width: 4px;
  height: calc(100% - 40px); /* Adjust height to fit items */
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 20px; /* Adjust position to center the line correctly */
}

.timeline-item {
  width: 80%;
  padding: 10px;
  margin: 20px 0;
  background-color: #1a1a1a;
  color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.timeline-item:not(:last-child)::after {
  content: '';
  position: absolute;
  width: 4px;
  height: calc(100% + 20px); /* Extend height to connect with next dot */
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: 20px; /* Start line from below the dot */
  z-index: -1; /* Ensure it's behind the timeline item */
}

.timeline-item:first-child::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 20px; /* Short segment above the first item */
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%);
  top: -20px;
  z-index: -1;
}

.timeline-item::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #e0e0e0;
  border: 4px solid #ffffff;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.timeline-content {
  padding: 20px;
  text-align: center;
}

.timeline-item h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.timeline-item p {
  margin: 5px 0 0;
  color: #b0b0b0;
}

/* src/components/ToddyPage.css */

@keyframes hover-effect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

img {
  transition: transform 0.3s ease-in-out;
}

button:hover {
  animation: hover-effect 0.3s forwards;
}

.hidden {
  display: none;
}

button:active + .hidden {
  display: block;
}
.custom-carousel .control-dots {
  bottom: -20px; /* Adjust this value to move the dots lower */
}





/* LoadingAnimation.css */
.loading-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: transparent; /* Dark mode background color */
}


.spinner-circle {
  width: 8px;
  height: 8px;
  margin: 8px;
  border-radius: 20px;
  background-color: #ffffff; /* Spinner color */
  animation: bounce 1.2s infinite ease-in-out;
}

.spinner-circle:nth-child(1) {
  animation-delay: -0.3s;
}

.spinner-circle:nth-child(2) {
  animation-delay: -0.15s;
}

.spinner-circle:nth-child(3) {
  animation-delay: 0s;
}

.spinner-circle:nth-child(4) {
  animation-delay: 0.15s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
