@tailwind base;
@tailwind components;
@tailwind utilities;
/* In src/index.css or your global CSS file */
@font-face {
  font-family: 'TESLA';
  src: url('/TESLA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'space';
  src: url('/space.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'conthrax';
  src: url('/conthrax.woff2') format('truetype'); /* Adjust the path and format if needed */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NASA';
  src: url('/nasa.woff2') format('woff2'); /* Adjust the path and format if needed */
  font-weight: normal;
  font-style: normal;
}


body{
  overflow-x: hidden;
}